
*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    margin: 0;
    background-color: #171717;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  } 
  
  body::-webkit-scrollbar-thumb {
    background-color: #2cae64;    /* color of the scroll thumb */
    border-radius: 30px;       /* roundness of the scroll thumb */  }

nav{
    display: flex;
    justify-content: flex-end;
    width: 90%;
}

fieldset{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 0;
}

.botoes{
    display: flex;
}

button{
    width: 12vw;
    height: 50px;
    background-color: #2cae64;
    color: white;
    border: none;
    font-size: 18px;
    margin-right: 1vw;
}

footer p{
    text-align: center;
    color: #585858;
    transition: 0.3s;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: white;
    font-size: 50px;
    margin-bottom: 20px;
}

p{
    color: white;
    font-size: 20px;
}

textarea{
    font-size: 18px;
    color: white;
    outline: 0;
    resize: none;
    padding: 10px;
}

.card p{
    padding: 5px;
}

html{
    scroll-behavior: smooth;
}

#textToDo p{
    font-size: 18px;
}

.animatedText span{
    position: relative;
}




#sectionContact{
    margin: auto;
    margin-top: 5vh;
    text-align: center;
    width: 55%;
}

#divTextHeader{
    display: flex;
    justify-content: space-around;
    width: 35%;
}

#divTextHeader p{
    margin-top: 30px;
    padding-bottom: 5px;
}

#txtname{
    width: 100%;
}

#txtCelular{
    width: 40%;
}

#txtEmail{
    width: 55%;
}

#txtAreaMsg{
    width: 100%;
    margin-top: 50px;
    background-color: transparent;
}

#conjuntoEmailTel{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

#logoHeader{
    padding: 20px;
    height: 56px;
}

#divLogoHeader{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 30%;
}

#sectionAboutMe{
    margin-top: 8vh;
    text-align: center;
    width: 75%;
    display: flex;
    flex-direction: column;
}

#divTextIntroducion{
    margin-bottom: 30vh;
}

#sectionIntroducion{
    margin: auto;
    margin-top: 15vh;
    /* height: 15vh; */
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* margin-bottom: 5vw;   */
    /* background-color: #2cae64;   */
}

#bordaSection{
    margin: auto;
    border-bottom-style: solid;
    border-bottom-color: #babaca;
    border-bottom-width: 1px;
    width: 80%;
}

.borda{
    margin: auto;
    margin-top: 8vh;
    border-bottom-style: solid;
    border-bottom-color: #babaca;
    border-bottom-width: 1px;
    width: 80%;
}

#sectionSkills #bordaSection{
    margin-top: 10vh;
    width: 60%;
}

#bordaSection p{
    display: none;
}

#introducao{
    font-size: 50px;
    margin-bottom: 0;
    width: 100%;
}

#subTitulo{
    font-size: 22px;
    color: #585858;
    margin-top: 5px;
}

#sectionDo{
    margin-top: 100px;
    margin-bottom: 15vw;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#divSkills{
    background-color: #212121;
    padding-top: 1vw;
    padding-bottom: 1vw;
    width: 70%;
}

#sectionSkills{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 7vh;
}

#sectionProjects{
    margin-bottom: 15vw;
}

#btnForm{
    width: 20vw;
    margin-top: 5vw;
    transition: 0.3s;
}

#skills1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 5vw;
}

#skills2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 5vw;
}


#divSkills p{
    color: white;
    transition: 0.3s;
}

#divSkills p:hover{
    color: #2cae64;
}



.inputForm{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-bottom: 2px solid rgb(79, 79, 79);
    outline: 0;
    background: transparent;
    color: white;
    width: 45%;
    font-size: 18px;
}

.nomeTitulo{
    margin-bottom: 0;
    font-size: 24px;
}

.conteudo{
    margin-top: 0;
}

.decorate{
    text-decoration: none;
    color: white;
}

.card{
    min-width: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardSkill{
    background-color: #212121;
    width: 22vw;
    height: 48vh;
    border-radius: 15px;
    text-align: left;
    padding: 25px;
    box-sizing: border-box;
    transition: 0.5s;
}

.cardProjeto{
    background-color: #212121;
    width: 25vw;
    height: 48vh;
    border-radius: 15px;
    text-align: left;
    padding: 25px;
    box-sizing: border-box;
    transition: 0.5s;
    transition: 0.5s;
    text-align: center;
}

.cardProjeto:hover{
    background-color: #95a32c;
}

.cardSkill:hover{
    background-color: #279155;
}

.divRow{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5vh;
}

.cardSkill h6{
    color: white;
    font-weight: 100;
    font-size: 22px;
    margin-bottom: 3vh;
}

.cardProjeto h6{
    color: white;
    font-weight: 100;
    font-size: 22px;
    margin-bottom: 3vh;
}

.cardSkill p{
    /* color: white; */
    font-weight: 100;
    font-size: 17px;
}

.square{
    border-radius: 50%;
    background-color: #212121;
    width: 55px;
    height: 55px;
    color: white;

    transition: 0.7s;
}

.nomeSkill{
    margin-top: 5px;
}

.nomeSkill:hover{
    cursor: pointer;
}

.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

.ancoraMenu{
    text-decoration: none;
    color: white;
}

.sectionProjetos{
    width: 90%;
}

.btnProjetos{
    text-align: center;
    width: 100px;
}

.projeto{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #212121;
}

.imageLinguaProjeto{
    width: 150px;
}

.projectName{
    margin-top: 0;
}

.animatedText{
    color: white;
    font-size: 20px;    
    min-width: 280px;
}

.lagImgName{
    padding: 0 20px;
    padding-top: 10px;
}

.divButtons{
    margin-bottom: 20px;
}

.buttonAnimation{
    transition: .6s;
}

.buttonContent{
    text-decoration: none;
    color: white;
}





footer p:hover{
    color: #2cae64;
}

.square:hover{
    cursor: pointer;
    background-color: #2cae64;
}

.decorate:hover{
    transition: 0.7s;
    color:#2cae64;
    cursor: pointer;
}

.ancoraMenu:hover{
    transition: 0.5s;
    color:#2cae64;
    cursor: pointer;
}

.animatedText span::before{
    content: "Fullstack";
    color: #2cae64;

    animation: words 15s infinite;
}

#msgEmail{
    font-size: 4vw;
    margin-bottom: 0;
    color: #2cae64;
}

#agradecimentoBody{
    min-height: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.voltarHome{
    text-decoration: none;
    color: #2cae64;
}

#msgSubEmail{
    margin-top: 0;
    color: white;
}

.animatedText span::after{
    content: "";
    position: absolute;
    width: calc(100% + 1px);
    height: 100%;
    background-color: #171717;
    border-left: 2px solid #2cae64;
    right: -3px;
    animation: cursor 1s infinite, typing 12.5s infinite;
}

.buttonAnimation:hover{
    transform: scale(1.05);
    cursor: pointer;
}

#btnForm:hover{
    transform: scale(0.95);
}



@keyframes cursor{
    to{
        border-left: 2px solid #171717;
    }
}

@keyframes words{
    0%,16%{
        content: "Fullstack";
    }
    17%,32%{
        content: "Javascript";
    }
    33%,50%{
        content: "Asp.Net";
    }
    51%,66%{
        content: "C#";
    }
    67%,83%{
        content: "SQL";
    }
    84%,100%{
        content: ".NET";
    }
}

@keyframes typing{
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }

    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 1px);
    }
}

.h1{
    font-weight: 100;
    margin-bottom: 5vh;
}














@media screen and (max-width: 900px) {
    .cardProjeto{
        width: 300px;
    }

    .cardSkill{
        width: 300px;
        margin-bottom: 3vh;
        margin-bottom: 5vh;
    }
    
    .divRow{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 0;
    }
}



@media screen and (max-width: 1115px) {
    /* nav{
        display: none;
    }   */

    button{
        width: 15vw;
    }

    #divTextHeader p{
        padding: 0 1vw;
    }
}

@media screen and (max-width: 1000px) {
    .cardSkill p{
        font-size: 16px;
    }
} 

@media screen and (max-width: 800px) {

    nav{
        display: none;
    }

    #conjuntoEmailTel{
        flex-direction: column;
    }

    #txtEmail{
        width: 100%;
        margin-bottom: 2vh;
    }

    #txtCelular{
        width: 100%;
    }
    
    #introducao{
        font-size: 40px;
    }
    
    h1{
        font-size: 40px;
    }

    #divTextIntroducion{
        margin-bottom: 20vh;
    }

    button{
        font-size: 20px;
        margin-top: 3vh;
        width: 100%;
        height: 8vh;
    }

    #btnForm{
        font-size: 20px;
        margin-top: 5vh;
        width: 100%;
        height: 8vh;
    }

    .botoes{
        flex-direction: column;
    }
    /*Menu Sanduiche no header*/
}

@media screen and (max-width: 650px) {


    #btnForm{
        font-size: 20px;
        margin-top: 3vh;
        width: 100%;
        height: 7vh;
    }

    button{
        font-size: 20px;
        margin-top: 3vh;
        width: 100%;
        height: 7vh;
    }

    .botoes{
        flex-direction: column;
    }
    /*Menu Sanduiche no header*/
}

/* @media screen and (max-width: 1000px) and (min-width: 850px) {
    .cardSkill{
        
    }
} */